html,
body {
  -webkit-text-size-adjust: 100%; /* iOS/Android webkit */
  -ms-text-size-adjust: 100%;     /* IE */
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}